################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ShopMart/bin
/ShopMart/obj
/.vs/ShopMart/v15/Server/sqlite3/db.lock
/.vs/ShopMart/v15/Server/sqlite3/storage.ide-wal
/.vs/ShopMart/v15/Server/sqlite3/storage.ide-shm
/.vs/ShopMart/v15/Server/sqlite3/storage.ide
/ShopMart.Application/bin/Debug
/ShopMart.Application/obj
/ShopMart.Data/bin/Debug
/ShopMart.Data/obj
/ShopMart.Data.EF/bin/Debug
/ShopMart.Data.EF/obj
/ShopMart.Infrastructure/bin/Debug
/ShopMart.Infrastructure/obj
/ShopMart.Utilities/bin/Debug
/ShopMart.Utilities/obj
/ShopMart/Logs/shopmart-20260304.txt
/ShopMart/Logs/shopmart-20260303.txt
/ShopMart/Logs/shopmart-20260301.txt
/ShopMart/Logs/shopmart-20260223.txt
/ShopMart/Logs/shopmart-20260222.txt
/ShopMart/Logs/shopmart-20260221.txt
/ShopMart/Logs/shopmart-20260219.txt
/ShopMart/Logs/shopmart-20260215.txt
